<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>文件上传</title>
    <link rel="stylesheet" href="bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="css/jquery.alerts.css">
    <link type="text/css" rel="stylesheet" href="css/materialize.css"  media="screen,projection"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
  </head>
  <body>
    <form  name="file-form" method="post" id="file-form" role="form" enctype="multipart/form-data" action="/upload">
      <input style="margin:10px 0px 0px 10px;" id="file" name="file" class="file" onchange="upload();" type="file">
      </input>
    </form>

   <!-- <form action="/upload" method="post" enctype="multipart/form-data">
      <input type="file" name ="upload"/>
      <button type="submit">提交</button>
    </form>-->
    <script type="text/javascript" src="jquery/dist/jquery.min.js"></script>
    <script type="text/javascript" src="js/jquery.alerts.js"></script>
    <script type="text/javascript" src="js/materialize.js"></script>
    <script type="text/javascript" src="js/jquery.form.js"></script>
    <script type="text/javascript" src="plupload/js/plupload.full.min.js"></script>
    <script type="text/javascript" src="plupload/js/i18n/zh_CN.js"></script>
    <script type="text/javascript">
      //文件上传
      function upload(){
        $("#file-form").ajaxSubmit({
          dataType: "json",
          success:function(data){
            if(data.code == 1){
              // TODO 上传至应用服务器成功

            }else{
              jAlert("添加失败，请重新添加！", "提示");
            }
          }
        });
      }
    </script>
  </body>
</html>
